@media  screen and (max-width:1000px) {
    body{
        background: white;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
        height: 34px;
    }
    .search{
        justify-content: center;
        
    }
    .search input{
        margin: 12px 15px;
    }
    .card-item{
        padding: 0px 20px;
        /* margin: 0px -18px; */
    }
    .slider{
        height: 23vh;
    }

    
   
}